# Node build artifacts
node_modules
npm-debug.log
doc
.nyc_output

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# File Manager(dolphin)
.directory